[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
freezegun = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
requests-mock = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
ccslips = "python -c \"from ccslips.cli import main; main()\""
