[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
boto3-stubs = "*"
coveralls = "*"
freezegun = "*"
moto = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
requests-mock = "*"
ruff = "*"
safety = "*"
types-requests = "*"

[requires]
python_version = "3.12"

[scripts]
ccslips = "python -c \"from ccslips.cli import main; main()\""
